*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    align-items: center;
}

img {
    width: 50px;
    height: 50px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.menu {
    display: flex;
    gap: 15px;
}

.container h1 {
    font-size: 80px;
    color: white;
}

.container {
    margin-top: 300px;
    margin-left: 40px;

}

.container p {
    width: 400px;
    color: white;
}

body {
    background-image: url(images/image.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}